$color-1:#FFFFFF;
$color-2:#000000;
$color-3:#471D4F;
$color-4:#643762;
$color-5:#BEA1C7;
$color-6:#EEE4F1;
$color-7:#81CE7F;
$color-8:#D85252;
$color-9:#BBBBBB;
$color-10:#8F8F8F;
$color-11:#656565;
$color-12: #F9F9F9;
$color-13: #F3F3F3; 
$color-14: #563461;
$color-15: #4D1F5B;
$color-16: #A6A6A6;